*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #d4d4d8;
    width: 100%;
    height: 100%;
}

.page-container {
    display: grid;
    grid-template-rows: 4.5rem auto;
    grid-template-columns: 18.5rem auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: #71717a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 0em 1em 0em 0.5em;

}

.header-menu-container {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

#header-menu {
    height: 3.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}


.header-info {
    display: flex;
    gap: 2em;
}

.add-container {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

#add-todo {
    transition: all 0.2s ease-in-out;
}

#add-todo:hover {
    filter: invert(95%) sepia(8%) saturate(48%) hue-rotate(201deg) brightness(97%) contrast(92%);;
    cursor: pointer;
    height: 2.2rem;
}

.side-bar {
    background-color: #a1a1aa;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    font-size: 1.5rem;
}
#header-menu:hover {

    filter: invert(95%) sepia(8%) saturate(48%) hue-rotate(201deg) brightness(97%) contrast(92%);
}

.selected {
    filter: invert(95%) sepia(8%) saturate(48%) hue-rotate(201deg) brightness(97%) contrast(92%);
}
#menu {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    list-style: none;
    padding-top: 2em;
}

#menu li {
    font-size: 1.75rem;
    padding-left: 1em;

}

#menu li:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(93, 92, 92, 0.8);
    cursor: pointer;
}

.content {
    grid-area: 2 / 2 / -1 / -1;
    display: grid;
    grid-auto-rows: 65px;
    gap: 1em;
    overflow-y: scroll;
    padding: 3em;
}

.big {
    grid-area: 2 / 1 / -1 / -1;
    display: grid;
    grid-auto-rows: 65px;
    gap: 1em;
    overflow-y: scroll;
    padding: 3em;
    
}

.todo-container {
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f5f9;
}

.todo-container:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

img {
    height: 2rem;
}

.sign-in {
    border: none;
    border-radius: 10px;
    width: 100px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    background-color: #d4d4d8;

}

.sign-in:hover {
   background-color: rgba(93, 92, 92, 0.8);
   cursor: pointer;
   transform: scale(1.1);
    
}


#trash {
    transition: all 0.2s ease-in-out;
}

#trash:hover {
    cursor: pointer;
    height: 2.3rem;
}

.modal {
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 50rem;
    height: 35rem;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.7);
}

#input-title {
    width: 30rem;
    height: 2rem;
    border-radius: 20px;
}

.title-date-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.description-container {
    display: flex;
    gap: 0.5em;
    
}

#input-description {
    border-radius: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2em;
}

#form-title {
    text-align: center;
}

#close-modal { 
    position: absolute;
    top: 1%;
    right: 1%;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 25px;
    font-weight: bold;
    background-color: #fecaca;
}

#close-modal:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .60);
}